/* Insert layout width below.
If this is not done, when using a responsive font, the result will not match the layout.
Please note that specifying a value less than 425 is dangerous for the psyche. */
$layoutWidth = 1600
$mainFontSize = 18
$minFontSize = 16
$accordToMobile = 600px

html
  --main-font-color #000
  --main-font-family Inter
  --bg #B1A29D

@import '_nullStyle'
@import '_mixins'
@import '_header'
@import '_fonts'
@import '_general'

body
  height 100%
  color var(--main-font-color)
  font adapt-fsize($mainFontSize, $minFontSize) var(--main-font-family)

  &.scroll-block
    overflow hidden

  button
    font-family var(--main-font-family)
    color var(--main-font-color)

.main
  width 100%
  @media (min-width: 1100px)
    overflow-x hidden

  &__body
    firstLevelElementsMargin 20
    background var(--bg)

.fullscreen
  flex-set column nowrap
  flex-content-position center center
  position relative
  background url('../img/bg-lines.svg') no-repeat center / cover

  &__body
    width 90%
    margin 10% 6% 10% 6%
    background #E4DFDC
    border-radius 30px
    border 5px solid #fff
    box-shadow 0 0 35px rgba(0, 0, 0, 0.3)

    @media (max-width 426px)
      block-size 95% 70%
      border-radius 0
      margin-bottom: 15%
      margin 5% 6% 13% 6%

  &__accord-buttons
    flex-set column nowrap

    @media (min-width $accordToMobile)
      padding-right 75px

    @media (max-width $accordToMobile)
      flex-set row nowrap
      flex-content-position center center

  &__main
    flex-set row nowrap
    width 50%
    margin 4% 6% 6% 6%

    @media (max-width 1100px)
      width auto

    @media (max-width $accordToMobile)
      flex-set column nowrap

  // &__accordion
  &__footer
    @media (min-width: 426px)
      border-bottom-left-radius 25px
      border-bottom-right-radius 25px

  &__product-img-container
    position absolute
    top 0
    right 0
    block-size 60% 100%
    pointer-events none

    @media (min-width 2560px)
      .adaptive-image
        padding 0 0 70% 0
    @media (min-width 1800px)
      .adaptive-image
        padding: 0 0 85% 0
    @media (max-width: 1440px)
      height 70%
      top 10%
      right -3%
    @media (max-width 1100px)
      display none

    .adaptive-image
      block-size 100% 100%
      padding 0 0 100% 0

  &__ref
    position absolute
    right 5%
    bottom 5%
    color #fff
    @media (max-width: 1100px)
      bottom 1%

.accordion
  &__btn
    position relative
    padding-left 40px
    max-width 50px
    max-height 80px
    width 50px
    height 80px

    @media (max-width $accordToMobile)
      padding 30px 40px 30px 40px
      max-width 70px
      max-height 90px
      width 70px
      height 90px

    span
      display inline-block
      font-family Inter-med
      font-size 14px
      transform translate(0, 0)
      transition all 0.2s ease

      @media (max-width $accordToMobile)
        font-size 24

    &:before
      display inline-block
      position absolute
      top 50%
      left 0
      transform translate(-50%, -50%)
      height 100%
      width 1px
      background #000
      content ''
      transition all 0.3s ease

      @media (max-width 600px)
        display none

    &:hover, &:focus, &.active
      &:before
        width 3px
        left 1px

      span
        font-size 24px
        transform translate(-10px, 0)

        @media (max-width $accordToMobile)
          font-size 28px

  &__content
    margin 0 0 30px 0

  &__footer
    flex-set row wrap
    flex-content-position flex-start center

    >*
      &:not(:last-child)
        margin-right 20px

    @media (max-width $accordToMobile)
      flex-content-position center center

      >*
        margin-bottom 10px

  &__block
    hide()
    transition all 0.3s ease
    firstLevelElementsMargin 25

    &.active
      show()

  &__price
    font-family Inter-sb
    font-size 30px

    &.dollar
      &:before
        content '$'

    &.rupee
      &:before
        content '₹'

    &.rub
      &:before
        content '₽'

  &__card-btn
    background #000
    color #fff
    border 2px solid #000
    font-family Inter-med
    border-radius 8px
    padding 15px 50px 15px 50px
    transition all 0.2s ease

    &:hover, &:focus
      background #fff
      color #000

.accord-block
  &__title
    font-family Inter-bl
    font-size 72px

    @media (max-width 768px)
      font-size 48px

  &__text
    font-family Inter-l

.fs-footer
  flex-set row nowrap
  flex-content-position space-between center
  background #F6F0F0
  padding 28px 70px 28px 70px

  @media (max-width 768px)
    flex-flow row wrap
    padding 14px 35px 14px 35px

  @media (max-width 426px)
    padding 10px 15px 10px 15px

  &__images
    flex-set row wrap
    padding 0 20px 0 0
    margin 0 -20px 0 -20px

    @media (max-width 768px)
      justify-content center

    picture
      display inline-block
      margin 24px 24px 24px 24px

  &__img
    display inline-block
    border-radius 8px

  &__video-play-container
    @media (max-width 768px)
      flex-grow 1
      flex-set row nowrap
      justify-content center

  &__video-btn
    flex-set column nowrap
    flex-content-position center center
    firstLevelElementsMargin 17

    &:hover, &:focus
      svg
        fill #e0d8d8

    span
      color #877C78
      font-family Inter-med
      font-size adapt-fsize(20, 18)
