html {
  --main-font-color: #000;
  --main-font-family: Inter;
  --bg: #b1a29d;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::focus,
::active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 0;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 5;
  padding: 28px 70px 28px 70px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 0;
}

.header__body * {
  z-index: 5;
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 5px 0 5px;
}

.navmenu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  margin: 0 10px 0 10px;
}

.navmenu__list li:not(:last-child) {
  padding-right: calc(30px + (50 - 30) * ((100vw - 320px) / (1000 - 320)));
}

.navmenu__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #000;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid rgba(255,255,255,0);
}

.navmenu__list li a:hover,
.navmenu__list li a:focus {
  font-family: Inter-b;
  border-bottom: 2px solid #000;
}

.logo {
  z-index: 10;
  margin-right: calc(25px + (60 - 25) * ((100vw - 320px) / (1000 - 320)));
  display: inline-block;
}

.logo img {
  height: 100%;
}

@font-face {
  font-family: 'Inter-bl';
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: '900';
  font-style: normal;
}

@font-face {
  font-family: 'Inter-b';
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: '700';
  font-style: normal;
}

@font-face {
  font-family: 'Inter-med';
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: '500';
  font-style: normal;
}

@font-face {
  font-family: 'Inter-sb';
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: '600';
  font-style: normal;
}

@font-face {
  font-family: 'Inter-l';
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: '300';
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("../fonts/Inter.woff2") format("woff2");
  font-weight: '400';
  font-style: normal;
}

.container {
  margin: auto;
}

.adaptive-image {
  display: block;
  position: relative;
  padding: 0 0 100% 0;
}

.adaptive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.adaptive-video {
  display: block;
  position: relative;
  padding: 0 0 100% 0;
}

.adaptive-video video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.sidebar {
  height: 100%;
  z-index: 5;
}

.sidebar__body {
  padding: 20px 15px 10px 10px;
  position: sticky;
  top: 10px;
  overflow: auto;
}

.sidebar__body >*:not(:last-child) {
  margin-bottom: 30px;
}

.sidebar__show-btn {
  display: none;
  position: absolute;
  left: -70px;
  top: 76px;
}

.sidebar__show-btn svg {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
  height: 100%;
}

.sidebar__show-btn svg:hover rect,
.sidebar__show-btn svg:focus rect {
  fill: #e8663c;
}

.sidebar__show-btn svg rect {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  fill: #ddd;
}

.modal-window {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.275);
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.modal-window.active {
  overflow: auto;
  opacity: 1;
  pointer-events: all;
}

.modal-window__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  height: 100%;
  color: var(--main-font-color);
  font: calc((100vw - 20rem)/(88.88888888888889 - 20) * (1 - 0.888888888888889) + 0.888888888888889rem) var(--main-font-family);
}

body.scroll-block {
  overflow: hidden;
}

body button {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
}

.main {
  width: 100%;
}

.main__body {
  background: var(--bg);
}

.main__body >*:not(:last-child) {
  margin-bottom: 20px;
}

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100vh;
}

.fullscreen__body {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  height: 60%;
  background: #e4dfdc;
  border-radius: 30px;
  border: 3px solid #fff;
}

.fullscreen__main {
  width: 50%;
}

.fullscreen__footer {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.fullscreen__product-img-container {
  position: relative;
}

.fullscreen__product-img-container img {
  position: absolute;
  top: 0;
  right: 0;
}

.accordion__btn {
  font-size: 24px;
  font-family: Inter-m;
  border-left: 1px solid #000;
}

.accordion__btn:hover {
  border-left: 3px solid #000;
}

.accordion__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.accordion__price {
  font-family: Inter-sb;
  font-size: 30px;
}

.accordion__price.dollars:before {
  content: '$';
}

.accordion__card-btn {
  font-family: Inter-m;
}

.accord-block__title {
  font-family: Inter-sb;
  font-size: 72px;
}

.accord-block__text {
  font-family: Inter-l;
}

.fs-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f0f0;
  padding: 28px 70px 28px 70px;
}

.fs-footer__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 20px 0 0;
  margin: 0 -20px 0 -20px;
}

.fs-footer__images picture {
  display: inline-block;
  margin: 24px 24px 24px 24px;
}

.fs-footer__img {
  display: inline-block;
  border-radius: 8px;
}

.fs-footer__video-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fs-footer__video-btn >*:not(:last-child) {
  margin-bottom: 17px;
}

.fs-footer__video-btn svg:hover,
.fs-footer__video-btn svg:focus {
  fill: #e0d8d8;
}

.fs-footer__video-btn span {
  font-family: Inter-med;
  font-size: calc((100vw - 20rem)/(88.88888888888889 - 20) * (1.111111111111111 - 1) + 1rem);
}

@media (min-width:768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0;
  }
}

@media (min-width:1600px) {
  .container {
    width: 70%;
  }
}

@media (max-width:950px) {
  .sidebar {
    position: fixed;
    background: #808080;
    left: 100vw;
    width: 40vw;
    top: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .sidebar.active {
    left: 60vw;
  }

  .sidebar__body {
    height: 100%;
  }

  .sidebar__show-btn {
    display: block;
  }

  .sidebar__show-btn.active svg {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@media (max-width:768px) {
  .header {
    padding: 14px 35px 14px 35px;
  }

  .accord-block__title {
    font-size: 48px;
  }

  .fs-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 14px 35px 14px 35px;
  }

  .fs-footer__images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .fs-footer__video-play-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width:600px) {
  .sidebar {
    width: 70vw;
  }

  .sidebar.active {
    left: 30vw;
  }
}

@media (max-width:426px) {
  .header {
    padding: 10px 15px 10px 15px;
  }

  .sidebar__show-btn {
    left: -35px;
  }

  .sidebar__show-btn.active {
    left: -55px;
  }

  .fullscreen__body {
    width: 90%;
    height: 70%;
    border-radius: 0;
  }

  .fs-footer {
    padding: 10px 15px 10px 15px;
  }
}

@media (max-width:425px) {
  .container {
    width: 95%;
  }
}

@media (min-width:768px) and (max-width:1600px) {
  .container {
    width: 70%;
  }
}

@media (min-width:426px) and (max-width:768px) {
  .container {
    width: 80%;
  }
}